html {
  overflow-x: hidden;
  max-width: 100vw;
}
.no-scroll {
  overflow: hidden;
  max-height: 100vh;
}

main {
  margin: 1rem;
  max-width: 797px;
  @include sm {
    margin: 2rem;
  }
  @include md {
    margin: 2rem auto;
  }
}
.main--anim {
  max-width: 1125px;
}
.wrapper {
  @include sm {
    &--title {
      display: flex;
      width: 100%;
      justify-content: center;
      gap: 16px;

      &:nth-child(3) {
        flex-direction: row-reverse;
      }
      .wrapper--text {
        flex: 1;
        margin: 0;
        padding: 0;
      }
      img {
        flex: 1;
        padding: 10px;
        max-width: 381px;
        max-height: 381px;
        height: auto;
        margin: 0;
        padding: 0;
      }
    }

    &--center {
      margin: 0 auto;
      max-width: 623px;
      text-align: center;
    }
  }
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;

  @include md {
    &--services {
      display: flex;
      flex-direction: row;
      text-align: center;
    }
  }
  .list_item {
    p {
      padding-left: 1rem;
    }
  }

  @include md {
    &_services {
      max-width: 367px;
      img {
        max-width: 175px;
      }
    }
  }
}

img {
  display: block;
  max-width: 100%;
  margin: 1rem auto;
  @include sm {
    border-radius: 25px;
  }
}
