@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-VariableFont_wght.ttf") format("ttf");
  font-weight: 100 800;
}

$font-primary: "Montserrat", sans-serif;
$font-secondary: "Arial", sans-serif;

$font-weight-light: 100;
$font-weight-regular: 400;
$font-weight-semiBold: 600;
$font-weight-bold: 700;

$title-font-family: $font-primary;
$text-font-family: $font-primary;

$font-size-medium: 1.2rem;
$font-size-big: 1.728rem;

$screen-sm: 600px;
$screen-md: 800px;
$screen-lg: 1000px;
$screen-xl: 1200px;
$screen-custom: 1100px;
